---
import Layout from "../layouts/Layout.astro";

---

<Layout>
	<nav>
		<h1><span class="onlycolor">$jason</span> on Solana</h1>
		<div class="center">
			<div class="border">
				<a class="link jasoncolor" href="https://jup.ag/swap/SOL-6rq1xS3xV2ufM8Rw9TBJpYfMniCem3Hf8ViByBS2pump">
					BUY $jason
				</a>
			</div>
		</div>
		<div class="header">
			<div class="link">
				<a href="https://t.me/GrandTheftJason">
					<!--Icon style="scale: 1.1;" name="meteor-icons:telegram" /-->
					<svg style="scale: 1.1;" viewBox="0 0 24 24"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12.5 16 9 19.5 7 13l-5.5-2 21-8-4 18-7.5-7 4-3"></path></svg>
				</a>
			</div>
			<div class="link">
				<a href="https://x.com/GrandTheftJason">
					<!--Icon name="prime:twitter" /-->
					<svg viewBox="0 0 14 14"><g fill="none"><g clip-path="url(#astroicon:prime:twitter__a)"><path fill="currentColor" d="M11.025.656h2.147L8.482 6.03 14 13.344H9.68L6.294 8.909l-3.87 4.435H.275l5.016-5.75L0 .657h4.43L7.486 4.71zm-.755 11.4h1.19L3.78 1.877H2.504z"></path></g><defs><clipPath id="astroicon:prime:twitter__a"><path fill="#fff" d="M0 0h14v14H0z"></path></clipPath></defs></g></svg>
				</a>
			</div>
			<div class="link">
				<a href="https://dexscreener.com/solana/8uqer6ixdh1ualktmawhf3ecsqu5y4byj1tiiht9ccqa">
					<!--Icon style="scale: 1.3;" name="token-branded:solana" /-->
					<svg viewBox="0 0 24 24" style="scale: 1.3;"><g fill="none"><path fill="url(#astroicon:token-branded:solana__a)" d="M19.125 7.447a.7.7 0 0 1-.456.18H2.644c-.569 0-.856-.65-.462-1.03l2.632-2.538a.67.67 0 0 1 .455-.188h16.088c.574 0 .855.656.456 1.038z"></path><path fill="url(#astroicon:token-branded:solana__b)" d="M19.125 19.954a.7.7 0 0 1-.456.175H2.644c-.569 0-.856-.645-.462-1.026l2.632-2.544a.66.66 0 0 1 .455-.181h16.088c.574 0 .855.65.456 1.03z"></path><path fill="url(#astroicon:token-branded:solana__c)" d="M19.125 10.303a.7.7 0 0 0-.456-.175H2.644c-.569 0-.856.645-.462 1.025l2.632 2.545a.7.7 0 0 0 .455.18h16.088c.574 0 .855-.65.456-1.03z"></path><defs><linearGradient id="astroicon:token-branded:solana__a" x1="2.001" x2="22.51" y1="59.823" y2="59.635" gradientUnits="userSpaceOnUse"><stop stop-color="#599DB0"></stop><stop offset="1" stop-color="#47F8C3"></stop></linearGradient><linearGradient id="astroicon:token-branded:solana__b" x1="2.001" x2="22.379" y1="8.853" y2="8.697" gradientUnits="userSpaceOnUse"><stop stop-color="#C44FE2"></stop><stop offset="1" stop-color="#73B0D0"></stop></linearGradient><linearGradient id="astroicon:token-branded:solana__c" x1="3.152" x2="21.225" y1="12.003" y2="12.003" gradientUnits="userSpaceOnUse"><stop stop-color="#778CBF"></stop><stop offset="1" stop-color="#5DCDC9"></stop></linearGradient></defs></g></svg>
				</a>
			</div>
		</div>
	</nav>
	
	<img style="width: 100%; height: auto;" src="/jason-header.jpg" />


	<div class="container row">
		<div class="col">
			<h2>What do we know about Jason?</h2>
			<iframe style="aspect-ratio: 16/9; width: 100%;" src="https://www.youtube.com/embed/MREAOL7Ohxc?si=29pyXFAN-1sy6V1f" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
		</div>
		<div class="col" style="display: flex; align-items: flex-end;">
			<p>
				Jason is the guy in GTA 6 you’ll want to keep your eyes on. While we don’t know everything about him yet, he’s clearly set up to be the central figure of the game. From the trailer, it’s obvious he’s involved in some heavy-duty criminal stuff, alongside Lucia. But Jason? He’s more than just a partner—he’s got his own dark past, and the decisions he makes will shape the entire story. Rockstar isn’t giving away much about his backstory yet, but that’s part of the allure. He’s the kind of character who’s going to pull you into the chaos, and when the full scope of his involvement finally unfolds, it’s going to hit hard. Jason’s story is one of ambition, power, and danger—and you won’t want to miss a single moment of it. Trust me, he’s the one to watch.
			</p>
		</div>
	</div>
	
	<div style="margin-top:5rem;"></div>
	<h2 style="text-align: center;">charts charts charts!</h2>
	<style>iframe{max-height:60vh !important;}#dexscreener-embed{position:relative;width:60%;margin:0 auto;padding-bottom:70vh;}@media(min-width:1400px){#dexscreener-embed{padding-bottom:70vh;}}#dexscreener-embed iframe{position:absolute;width:100%;height:100%;top:0;left:0;border:0;}</style><div id="dexscreener-embed"><iframe src="https://dexscreener.com/solana/8uqEr6iXdH1UALKTMAWhf3ecSqU5y4BYJ1tiiHT9Ccqa?embed=1&loadChartSettings=0&trades=0&chartLeftToolbar=0&chartTheme=dark&theme=dark&chartStyle=0&chartType=usd&interval=15"></iframe></div>
</Layout>

<style>
	@font-face {
		font-family: "Pricedown";
		src: url(/Pricedown Bl.otf);
	}

	html, body {
		font-family: 'Pricedown';
		background-color: #000;
		overflow-x: hidden;
		color: white;
	}

	nav {
		display: flex;
		justify-content: space-between;
	}
	
	p {
		font-size: 1.2rem;
		font-family: "Roboto Slab", 'Arial', serif;
		font-weight: 400;
		line-height: 1.4;
		margin: 0;
	}

	svg {
		width: 1em;
		color: white;
	}

	.container {
		margin: 0 auto;
		margin-top: 4rem;
		width: 66vw;
	}

	.link {
		display: inline-block;
		transition: all 0.3s ease;
	}

	.row {
		display: flex;
		justify-content: center;
		flex-direction: row;
		gap: 2rem;
	}

	.col {
		width: 50%;
	}

	.border {
		border: 1px solid white;
		padding: 0;
		margin: 0;
		background-color: #000;
	}

	.border a {
		padding: 0.5rem 2rem 0.8rem;
		margin: 0;
	}

	.header {
		font-size: 2.25rem;
		padding: 0;
		margin: 2.25rem 2rem 2rem;
	}

	.center {
		font-size: 2.25rem;
		margin: 1rem 2rem;
	}

	a {
		text-decoration: none;
		margin: 0 0.25em;
	}

	.link:hover {
		transform: scale(1.1);
	}

	.jasoncolor {
		font-size: 3rem;
		background: #595FCA;
		background: linear-gradient(to bottom, #595FCA 0%, #F968B1 50%, #FF9347 100%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}

	.onlycolor {
		background: #595FCA;
		background: linear-gradient(to bottom, #595FCA 0%, #F968B1 50%, #FF9347 100%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;

	}

	h1, h2, h3 {

	}

	h1 {
		padding: 0;
		margin: 1rem 2rem;
		font-size: 4rem;
	}



	@media screen and (max-width: 1150px) {
		nav, .row {
			flex-wrap: wrap;
		}
		.container {
			width: 90vw;
		}
		.col {
			width: 100%;
		}
		#dexscreener-embed {
			width: 80% !important;
		}
	}
</style>