---
import Layout from "../layouts/Layout.astro";

---

<Layout>
	<nav>
		<h1><span class="onlycolor">$jason</span> on Solana</h1>
		<div class="center">
			<div class="border">
				<a class="link jasoncolor" title="Jupiter Swap" href="https://jup.ag/swap/SOL-6rq1xS3xV2ufM8Rw9TBJpYfMniCem3Hf8ViByBS2pump">
					BUY $jason
				</a>
			</div>
		</div>
		<div class="header">
			<div class="link">
				<a href="https://t.me/GrandTheftJason" title="Telegram" target="_blank">
					<svg style="scale: 1.1;" viewBox="0 0 24 24"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12.5 16 9 19.5 7 13l-5.5-2 21-8-4 18-7.5-7 4-3"></path></svg>
				</a>
			</div>
			<div class="link">
				<a href="https://x.com/GrandTheftJason" title="Twitter" target="_blank">
					<svg viewBox="0 0 14 14"><g fill="none"><g clip-path="url(#astroicon:prime:twitter__a)"><path fill="currentColor" d="M11.025.656h2.147L8.482 6.03 14 13.344H9.68L6.294 8.909l-3.87 4.435H.275l5.016-5.75L0 .657h4.43L7.486 4.71zm-.755 11.4h1.19L3.78 1.877H2.504z"></path></g><defs><clipPath id="astroicon:prime:twitter__a"><path fill="#fff" d="M0 0h14v14H0z"></path></clipPath></defs></g></svg>
				</a>
			</div>
			<div class="link">
				<a href="https://dexscreener.com/solana/8uqer6ixdh1ualktmawhf3ecsqu5y4byj1tiiht9ccqa" title="DexScreener" target="_blank">
					<svg viewBox="0 0 24 24" style="scale: 1.3;"><g fill="none"><path fill="url(#astroicon:token-branded:solana__a)" d="M19.125 7.447a.7.7 0 0 1-.456.18H2.644c-.569 0-.856-.65-.462-1.03l2.632-2.538a.67.67 0 0 1 .455-.188h16.088c.574 0 .855.656.456 1.038z"></path><path fill="url(#astroicon:token-branded:solana__b)" d="M19.125 19.954a.7.7 0 0 1-.456.175H2.644c-.569 0-.856-.645-.462-1.026l2.632-2.544a.66.66 0 0 1 .455-.181h16.088c.574 0 .855.65.456 1.03z"></path><path fill="url(#astroicon:token-branded:solana__c)" d="M19.125 10.303a.7.7 0 0 0-.456-.175H2.644c-.569 0-.856.645-.462 1.025l2.632 2.545a.7.7 0 0 0 .455.18h16.088c.574 0 .855-.65.456-1.03z"></path><defs><linearGradient id="astroicon:token-branded:solana__a" x1="2.001" x2="22.51" y1="59.823" y2="59.635" gradientUnits="userSpaceOnUse"><stop stop-color="#599DB0"></stop><stop offset="1" stop-color="#47F8C3"></stop></linearGradient><linearGradient id="astroicon:token-branded:solana__b" x1="2.001" x2="22.379" y1="8.853" y2="8.697" gradientUnits="userSpaceOnUse"><stop stop-color="#C44FE2"></stop><stop offset="1" stop-color="#73B0D0"></stop></linearGradient><linearGradient id="astroicon:token-branded:solana__c" x1="3.152" x2="21.225" y1="12.003" y2="12.003" gradientUnits="userSpaceOnUse"><stop stop-color="#778CBF"></stop><stop offset="1" stop-color="#5DCDC9"></stop></linearGradient></defs></g></svg>
				</a>
			</div>
		</div>
	</nav>
	
	<div class="max-width">
		<img id="header-img" src="/jason-header.jpg" />
	</div>


	<div class="container row">
		<div class="col">
			<h2>What do we know about Jason?</h2>
			<iframe style="width: 100%;" src="https://www.youtube-nocookie.com/embed/MREAOL7Ohxc?si=29pyXFAN-1sy6V1f" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
		</div>
		<div class="col" style="display: flex; margin-top: 4rem;">
<p><span class="onlycolor">Jason</span> is the leading male character in <span class="onlycolor">GTA VI</span>, poised to redefine gaming history as one of the greatest games ever created.
Hodl <span class="onlycolor">$JASON</span> through every storm, and surf the exhilarating waves of Ocean Beach while executing missions across the vibrant landscape of <span class="onlycolor">Vice City</span>. 

Remember, the only way we go to the moon is by <span class="onlycolor">HOLDing</span> together; <span class="onlycolor">Trust?</span>
			</p>
		</div>
	</div>
	
	<div style="margin-top:5rem;"></div>
	<h2 style="text-align: center;">a strong community at its heart ♥️ and it shows on the chart!</h2>
	<div id="dexscreener-embed"><iframe src="https://dexscreener.com/solana/8uqEr6iXdH1UALKTMAWhf3ecSqU5y4BYJ1tiiHT9Ccqa?embed=1&loadChartSettings=0&chartLeftToolbar=0&chartDefaultOnMobile=0&chartTheme=dark&theme=dark&chartStyle=1&chartType=marketCap&interval=240"></iframe></div>


	<p style="text-align: center;">This website is an independent fan page and is not affiliated with Rockstar Games or Take-Two Interactive in any way.</p>
</Layout>

<style>

	html, body {
		font-family: 'Pricedown';
		background-color: #000;
		color: white;
	}

	nav {
		display: flex;
		justify-content: space-between;
		position: fixed;
		width: 100vw;
		background-color: #000000ee;
		z-index: 100;
	}

	.max-width {
		width: 100%;
		max-width: 100vw;
		overflow-x: hidden;
		overflow-y: hidden;
	}
	
	@keyframes scaleout {
		0% {
			scale: 1;
		}
		50% {
			scale: 1.1;
		}
		100% {
			scale: 1.07;
		}
	}
	
	#header-img {
		width: 100%;
		height: auto;
		margin-top: 7rem;
		scale: 1;
		animation: scaleout 45s ease 1s 1 forwards normal;
	}

	p {
		font-size: 1.2rem;
		font-family: "Roboto Slab", 'Arial', serif;
		font-weight: 400;
		line-height: 1.4;
		margin: 0;
		white-space: pre-wrap;
	}

	svg {
		width: 1em;
		color: white;
	}

	.container {
		margin: 0 auto;
		margin-top: 4rem;
		width: 66vw;
	}

	.link {
		display: inline-block;
		transition: --j1 1s, --j2 1s, --j3 1s, transform 0.3s ease;
	}

	.row {
		display: flex;
		justify-content: center;
		flex-direction: row;
		gap: 2rem;
	}

	.col {
		width: 50%;
	}

	.border {
		border: 1px solid white;
		padding: 0;
		margin: 0;
		background-color: #000;
	}

	.border a {
		padding: 0.5rem 2rem 0.8rem;
		margin: 0;
	}

	.header {
		font-size: 2.25rem;
		padding: 0;
		margin: 2.25rem 2rem 2rem;
		display: flex;
	}

	.center {
		font-size: 2.25rem;
		margin: 1rem 2rem;
	}

	a {
		text-decoration: none;
		margin: 0 0.25em;
	}

	.link:hover {
		transform: scale(1.1);
	}

	@property --j1 {
		syntax: '<color>';
		initial-value: #595FCA;
		inherits: false;
	}

	@property --j2 {
		syntax: '<color>';
		initial-value: #F968B1;
		inherits: false;
	}

	@property --j3 {
		syntax: '<color>';
		initial-value: #FF9347;
		inherits: false;
	}


	.jasoncolor {
		font-size: 3rem;
		background: #595FCA;
		background: linear-gradient(to bottom, var(--j1) 0%, var(--j2) 50%, var(--j3) 100%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}

	.onlycolor {
		background: #595FCA;
		background: linear-gradient(to bottom, var(--j1) 0%, var(--j2) 50%, var(--j3) 100%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;

		transition: --j1 1s, --j2 1s, --j3 1s;
		cursor: default;
	}

	.onlycolor:hover, .jasoncolor:hover {
		--j1: #F968B1;
		--j2: #FF9347;
		--j3: #595FCA;
	}

	h1, h2, h3 {

	}

	h2 {
		margin-left: 1rem;
		margin-right: 1rem;
	}

	h1 {
		padding: 0;
		margin: 1rem 2rem;
		font-size: 4rem;
	}


	#dexscreener-embed{position:relative;width:60%;margin:0 auto;}
	#dexscreener-embed iframe{width:100%;height:100%;top:0;left:0;border:0;margin-bottom: 5rem;}


	iframe, #dexscreener-embed {
		aspect-ratio: 16/9;
	}

	@media screen and (max-width: 500px) {
		h1 {
			font-size: 3rem;
			text-align: center;
		}

		.center, .header, .jasoncolor {
			font-size: 2rem !important;
		}

		.center {
			margin: 0 auto;
		}

		.header {
			margin: 1rem auto;
		}

		nav {
			flex-direction: column;
		}


		#dexscreener-embed, #dexscreener-embed iframe {
			aspect-ratio: 9/16;
		}
	}

	@media screen and (max-width: 1150px) {
		nav, .row {
			flex-wrap: wrap;
		}
		.container {
			width: 90vw;
		}
		.col {
			width: 100%;
			margin-top: 0 !important;
		}

		#header-img {
			margin-top: 0 !important;
		}

		#dexscreener-embed {
			width: 80% !important;
		}

		nav {
			position: relative;
		}
		nav ~ img {
			margin-top: 0 !important;
		}
	}

</style>